@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-body {
    font-family: "Orbitron", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

.login-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0aeadb55-d92d-484f-ae4f-e3f04df7d863/d218gnu-c29cfdc0-214c-48d1-860c-a518e0405757.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBhZWFkYjU1LWQ5MmQtNDg0Zi1hZTRmLWUzZjA0ZGY3ZDg2M1wvZDIxOGdudS1jMjljZmRjMC0yMTRjLTQ4ZDEtODYwYy1hNTE4ZTA0MDU3NTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Yqmd9iT0Vfj5eCRwaoQ0z7jJxvb4YAlBmERSaYVmlvg"), #000;
    background-position: center;
    background-size: cover;
}

.my-wrapper {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.register-body {
    font-family: "Press Start 2P", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

.register-body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://w0.peakpx.com/wallpaper/72/235/HD-wallpaper-metal-gear-rex-blueprint-r-metalgearsolid.jpg"), #000;
    background-position: center;
    background-size: cover;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
}

#remember {
    accent-color: #fff;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 8px;
}

.my-wrapper a {
    color: #efefef;
    text-decoration: none;
}

.my-wrapper a:hover {
    text-decoration: underline;
}

button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.aiai {
    max-width: 100%;
    height: auto;
}

.alert-fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
}

#passwordHelp {
    color: white;
    font-size: 0.7rem;
    text-align: left;
}

.alert-custom-danger {
    background-color: #dc3545;
    color: white;
}

.alert-custom-success {
    background-color: #28a745; 
    color: white;
}